
.app{
  background-color: #F5F5F5;
}
.mainContainer{
  max-width: 1280px;
  margin: auto;
  padding: 40px;
}
.shopTitle{
  font-weight: bolder;
  font-size: 1.7rem;
  display: inline-block;
}
.titleBarCart{
  float:right;
}
.cartButton{
  font-size: 1.2rem;
}