.productContainer{
  border-radius: 10px;
  background-color: white;
}

.productImg{
  width: 100%;
  overflow: hidden;
}

.productDetails{
  padding: 6%;
  height: 100%;
}

.price{
  float:right;
  margin-top: 0.5em;
}

@media(min-width: 576px){
  .productImg{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .addToCartButton{
    position: absolute !important;
    bottom: 35px;
  }
}

@media(max-width: 575px){
  .productImg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}