.productContainer{
  border-radius: 10px;
  background-color: white;
}

.productImg{
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.productDetails{
  padding: 2rem 2rem 2rem 2rem;
}

.price{
  float:right;
}